header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
}

body {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
}

p {
  color: #222;
  margin: 10px 20px 0px 20px; 
  padding: 10px;
}

li {
  color: #222;
  margin: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 5px 10px 5px 10px; 
}

ul, ol {
  margin: 0 0 15px 20px; 
  padding: 0;
}

a {
  color: #0066cc; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

.standard-image {
  border: 1px #111 solid;
  border-radius: 2px;
}

figure {
  margin: auto;
}

figcaption {
  background-color: #f9f9f9;
  color:#222;
  font-style: italic;
  padding: 1px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-right: 30px;
  flex-wrap: wrap; 
}


.menu-button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.resultsTable {

    height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ddd;
}

table {
    width: 100%; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 8px; /* Add padding for readability */
    text-align: left; /* Align text to the left */
}

.tabs {
    margin: 20px 30px;
    display: flex; 
    justify-content: space-between;
}

.tab-button {
    padding: 10px;
    cursor: pointer;
    flex: 1; 
    margin: 0 4px; 

}

.tab-content {
    margin: 5px 20px;
    display: none;
}

.tab-content table {
    width: 100%;
    border-collapse: collapse;
}

.tab-content th, .tab-content td {
    border: 1px solid #ddd;
    padding: 8px;
}


