header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
}

.menu-button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Table styling, used for astronomy page */
.resultsTable {
    height: 400px; /* Set the height you need */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Optional: Add border for visual separation */
}

table {
    width: 100%; /* Ensure table uses full width of container */
    border-collapse: collapse; /* Optional: Collapse borders for cleaner look */
}

th, td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 8px; /* Add padding for readability */
    text-align: left; /* Align text to the left */
}



