#map-container {
  baground-image:url("https://EthanBassingthwaite.github.io/relevant.jpg");
  position: absolute;
  height:200px;
  width:252px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.place img {
  width: 20px;

}
.place {
  font-size:8px;
  position: absolute;
  background-color: red;
  padding: 5px;
  height: 10px;
  width: 9px;
}
#place1{
  left:50px;
  top:10px;
}

